.about{
    padding-bottom: 88px;
}
.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic{
    height: 420px;
}
.about-info{
    font-size: 24px;
}
.info-name{
    color: blueviolet;
    font-size: 30px;
}
@media only screen and (max-width:720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-info{
        font-size: 20px;
    }
    .pic{
        height: 240px;
    }
    .info-name{
        font-size: 24px;
    }
}